<%% if(collection.models.length > 0) { %>
    <h3><a href='#new'>Create New</a></h3><ul>
    <%% collection.each(function(item) { %>
        <li><a href='#<%= plural_name %>/<%%= item.id %>'><%%= item.escape('<%= scaffold_parameter %>') %></a></li>
    <%% }); %>
    </ul>
<%% } else { %>
    <h3>No <%= plural_name %>! <a href='#new'>Create one</a></h3>
<%% } %>
