<form>
<% attributes.each do |attribute| -%>
    <label for='<%= attribute.name %>'><%= attribute.name.titleize %></label>
    <input name='<%= attribute.name %>' type='text' />
<% end %>
    
    <button><%%= model.isNew() ? 'Create' : 'Save' %></button>
</form>
