<!DOCTYPE html>
<html>
<head>
  <title>Autocomplete scaffold for <%= singular_table_name %> <%= scaffold_parameter %></title>
  <%%= stylesheet_link_tag 'scaffold', 'ui-lightness/jquery-ui-1.8.12.custom' %>
  <%%= javascript_include_tag 'jquery-1.5.1.min', 'jquery-ui-1.8.12.custom.min.js' %>
  <%%= csrf_meta_tag %>
</head>
<body>

<%%= yield %>

</body>
</html>
